{% extends 'blog/base.html' %}


{% block content %}
<h1> This is a song for you~~~</h1>
<img src="https://pbs.twimg.com/media/C_HiysOXgAAbJtf.jpg" alt="happy reading :')"  style="float:right width:200px; height:200px;">
<p></p>
<p> "It is what you read when you don't have to that determines what you wil be when you can't help it."</p>
<p>A quote by Oscar wilde that helps to emphasise the point in this website.</p>
<p>
This website is a a culmination of abbreviated news articles. Alowing one to spend less time riffling through something inorder to acceess key pieces of information. Time is our most precious commodity. This is a high desert one stop shop with a bit more fire power- news and bit. By accessing the
frequency analysis tab you are granted more information pretaining to the article in question</p>
<p></p>
<p></p>
{% endblock %}